body {
    background-image: url('https://1.bp.blogspot.com/-2pislkIdd1Q/XZzWrCwK0eI/AAAAAAAD5GU/h2gvG7-1IZ8_sSZ0MXM1Ol6jEkGAAy94ACLcBGAsYHQ/s1600/55.png');
    font-family: Arial, sans-serif;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a28585;
  }
  form {
    background-color:rgb(180, 204, 222); /* Adjust transparency as needed */
    padding: 180px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  
  
  #locationInput {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center; /* Centers text horizontally */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    margin-top: 200px;
    cursor: pointer;
    
   
  }
  
  button:hover {
    background-color: #0056b3;
  }
  